* {
    margin: 0;
    padding: 0;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

img {
    max-width: 100%;
}


/*style del header*/

header {
    display: flex;
    background-color: black;
    border-bottom: 2px solid aquamarine;
    padding: 15px;
    justify-content: space-between;
    position: relative;
}


.logo {
    display: none;
}

.text-web {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    border-bottom: 2px solid aquamarine;
    font-size: 1.3em;
}

.btn-menu {
    font-size: x-large;
}

.btn-menu p {
    color: whitesmoke;
}

.conteiner-nav {
    display: none;
}

.conteiner-nav a {
    color: whitesmoke;
    text-transform: uppercase;
}

.conteiner-nav.show {
    position: absolute;
    top: 100%;
    font-size: 15px;
    background-color: black;
    display: flex;
    left: 0;
    right: 0;
}

.conteiner-nav li {
    padding: 15px;
}

/*index responsive*/
.text-title {
    display: flex;
    font-size: 18px;
}

.img-model {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 270px;

}

.text-info {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    padding-top: 0.5em;
}

/* formulario responsive */
section {
    padding: 10px;
}

section h1 {
    text-align: center;
    margin: 30px 0;
}

form,
.form-group {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.form-group {
    max-width: 500px;
    width: 100%;
    align-content: flex-start;
}

select,
input,
label {
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 30px;
}

.error {
    color: red;
}

.confirmacion {
    color: green;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 20px;
    margin: 3px;
}

footer p {
    margin: 3px;
    /*Vista en monitor*/
}

@media only screen and (min-width: 600px) {

    /*Vista del index en monitor*/
    .btn-menu,
    .text-web {
        display: none;
    }

    .img {
        max-width: 100%;
    }

    header {
        border: none;
        flex-direction: column;
        padding: 0;
    }

    .img-logo {
        width: 40%;
    }

    .logo {
        display: flex;
        margin: auto;
        justify-content: center;
        background-color: black;

    }

    .conteiner-nav {
        display: flex;
        list-style: none;
        text-align: center;
        justify-content: center;
        border: 5px double black;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
    }

    .conteiner-nav a {
        color: black;
    }

    nav li a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 900;
        padding: 15px;
        display: block;
    }

    nav li {
        display: inline-block;
    }

    nav li:hover a {
        background: #333;
        color: white;
    }

    .text-title .text-info {
        font-family: 'Times New Roman', Times, serif;
    }

    .text-title {
        justify-content: center;
        font-size: x-large;
    }

    .img-model {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 400px;
        height: 400px;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}